# Files for git to ignore!

# default ones on the .gitignore file
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/

# other R related files
.Rprofile
*.Rproj

# clean up the repo
_site/
*_files/

# personal images
images/*

